*, *::before, *::after{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh; 
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: minmax(120px, auto) repeat(4, 100px);
    grid-gap: 5px; /* This sets both grid-row-gap and grid-column-gap to 10px */
}

.orange-btn{
    background-color: #fda978;
}

.calculator-grid > button.orange-btn:hover{
    background-color: #f58c50;
}


.calculator-grid > button{
    outline: 2px #cecece solid;
    font-size: 2rem;
    cursor: pointer;
    border: 1px #fff solid;
    border-radius: 8px;
}

.calculator-grid > button:hover{
    background-color: #dfdfdf;
}

.span-two{
    grid-column: span 3;
}
.output{
    grid-column: 1/-1;
    background-color: #cecece;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
}

.output .current-operand{
    font-size: 2rem;
}

.output .previous-operand{
    font-size: 1.5rem;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

